* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0f3f5;
  color: #505c66;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

/* //////////Header section css///////// */

#header {
  width: 100%;
  height: 80px;
  background-color: #0a438b;
  display: flex;
  color: #f0f3f5;
  justify-content: space-between;
}

.leftHeader {
  padding: 20px;
  margin-left: 35px;
  display: flex;
}

/*///// Right Header Section ////////*/

.rightHeader {
  padding: 30px;
  margin-right: 35px;
  display: flex;
  gap: 20px;
}

.rightHeader a {
  text-decoration: none;
  color: #f0f3f5;
}

/* main section css */

.mainCont {
  width: 80%;
  margin: auto;
  height: fit-content;
}

.mainCont > div:nth-child(1) {
  color: #004074;
  margin: 10px 0px;
}

.mainCont > div:nth-child(2) i,
p {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}

.mainCont > div:nth-child(2) a {
  color: #7a5505;
  margin-left: 30px;
  line-height: 40px;
}

.mainCont > div:nth-child(2) {
  height: 80px;
  background-color: #f0dcb4;
  color: #7a5505;
  display: inline-block;
  width: 100%;
  border-left: 3px solid #7a5505;
}

.mainCont > div:nth-child(3) {
  width: 100%;
  height: 80px;
  background-color: white;
  margin: 20px 0px;
  color: black;
}

.mainCont > div:nth-child(3) i {
  margin-left: 30px;
}

.mainFlex1 {
  display: flex;
  width: 100%;
  margin: 20px 0px;
  gap: 5%;
}

/* left box */

.mainFlex1 > div:nth-child(1) {
  width: 60%;
  height: 311px;
  background-color: white;
}

.green {
  color: green;
  margin-left: 40px;
  line-height: 5px;
  font-size: 13px;
}

.mainFlex1 > div > div:nth-child(2) {
  width: 90%;
  margin: auto;
}

.mainFlex1 > div > div:nth-child(2) > input {
  width: 70%;
  height: 20px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
}

#mobInp {
  width: 70%;
  height: 20px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
}

.mainFlex1 > div > div:nth-child(2) label {
  font-weight: bold;
}

/* right product box */

#productDis {
  width: 35%;
  background-color: white;
  height: fit-content;
}

.imgDiv {
  height: 150px;
}

img {
  width: 100%;
  height: 100%;
}

/* payment box css */

#paymentBox {
  width: 60%;
  height: 450px;
  background-color: white;
}

#paymentBox > div:nth-child(1) {
  margin-top: 20px;
}

.inpBox {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.payInpBox > a {
  text-decoration: none;
  color: blue;
}

.payInpBox > a:hover {
  background-color: rgb(182, 175, 175);
}

.inpflexBox {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.inpBox label {
  font-weight: bold;
}

.inpflexBox input {
  height: 30px;
  border-radius: 5px;
}

/* complete booking css */

.compBookBox {
  width: 60%;
  background-color: white;
  height: fit-content;
  margin: 20px 0px;
}

.compBookBox > p {
  padding: 20px 8px;
}

.points {
  width: 90%;
  margin: auto;
}

.agree {
  padding: 20px 0px;
}

.agree a {
  text-decoration: none;
}

.agree a:hover {
  color: blue;
  font-weight: bold;
}

.compBookBox > button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #7aa806;
}

.compBookBox > button:hover {
  background-color: #90c900;
}

/* summary css */

.mainFlex2 {
  display: flex;
  width: 100%;
  margin: 20px 0px;
  gap: 5%;
}

#summary {
  width: 35%;
  background-color: white;
  color: black;
  height: 500px;
}

#amount {
  float: right;
  margin-right: 20px;
}

.payDetail {
  margin-bottom: 20px;
}

.payDetail > div:nth-child(1) {
  margin: 20px 0px;
  margin-top: 10px;
  font-size: 17px;
}

#summary hr {
  color: rgb(223, 215, 215);
}

#tax {
  float: right;
  margin-right: 20px;
}

#total {
  float: right;
  margin-right: 20px;
}

.bold {
  font-weight: bolder;
  font-size: 17px;
}

.couponBox {
  padding: 10px 20px;
  margin-bottom: 5px;
}

.couponBox input {
  width: 45%;
  height: 30px;
  border: 2px solid black;
  font-size: 15px;
  border-radius: 10px;
  margin: 10px 0px;
}

.couponBox button {
  width: 25%;
  height: 30px;
  background-color: #0a7cda;
  border-radius: 10px;
  font-weight: bolder;
  color: white;
}

.couponBox button:hover {
  background-color: blue;
}

.gray {
  color: gray;
}

.smallText {
  font-size: 11px;
  margin-top: 15px;
}
