* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0f3f5;
  color: #505c66;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

/* Header section css */

/* leftHeader section */

#header {
  width: 100%;
  height: 80px;
  background-color: #0a438b;
  display: flex;
  color: #f0f3f5;
  justify-content: space-between;
}

.leftHeader {
  padding: 20px;
  margin-left: 35px;
  display: flex;
}

#active {
  display: flex;
  gap: 10px;
  cursor: pointer;
  margin-top: 13px;
  margin-left: 44px;
}

.moreTravelContainer ul ul li {
  position: relative;
  list-style: none;
  /* display: inline-block; */
  width: 250px;
}

.moreTravelContainer ul li a {
  display: block;
  text-decoration: none;
  color: #505c66;
}

#showDrop {
  height: 500px;
  box-shadow: 0px 0.5rem 1rem 0px rgb(17 21 26 / 24%);
  margin-left: 3vw;
  background-color: white;
  border-radius: 10px;
}

.moreTravelContainer ul li a:hover {
  color: blue;
}

.moreTravelContainer ul ul {
  position: absolute;
  display: none;
}

#showDrop p {
  margin-left: 25px;
}

/* .moreTravelContainer ul li:hover > ul {
      display: block;
    } */

.moreTravelContainer ul {
  padding: 0;
  margin: 0;
  float: left;
}

/*///////////////left header section end///////////*/

/*///// Right Header Section ////////*/

.rightHeader {
  padding: 30px;
  margin-right: 35px;
  display: flex;
  gap: 20px;
}

.rightHeader a {
  text-decoration: none;
  color: #f0f3f5;
}

/* main box css */

#container {
  width: 90%;
  height: fit-content;
  margin: auto;
  border: 1px solid #f0f3f5;
}

.inputBox {
  width: 90%;
  margin: auto;
  float: left;
  display: flex;
}

#flexBox {
  display: flex;
  /* justify-content: space-evenly; */
  margin-top: 80px;
  gap: 20px;
  position: relative;
}

td {
  margin: 20px;
}

.goaIn {
  width: 30vw;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
}

.checkIn {
  width: 10vw;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
}

.check-outIn {
  width: 10vw;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
}

.numIn {
  width: 20vw;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
}

.searchBtn {
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #2a6ec1;
  border-radius: 20px;
}

/*////// leftBox css//////// */

#leftBox {
  /* flex-grow: 2; */
  width: 15%;
  height: fit-content;
}

.mapBox {
  border-radius: 20px;
}

#leftBox > div:nth-child(1) {
  /* border: 1px solid red; */
}

#leftBox > div:nth-child(1) > div:nth-child(2) {
  width: 100%;
  text-align: center;
  background-color: white;
  color: blue;
}

.hrLine {
  width: 100%;
  border: 1px solid gray;
  margin: 20px 0px;
}

#middleBox {
  height: fit-content;
  flex-grow: 11;
}

#rightBox {
  height: 100vh;
  width: 15%;
  /* flex-grow: 1; */
}

img {
  width: 100%;
  height: 100%;
}

#filterBox {
  height: fit-content;
}

#filterBox > div:nth-child(1) {
  margin-bottom: 20px;
}

#filterBox > div:nth-child(2) div {
  margin: 10px 0px;
}

/* middleBox css */

#middleBox > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

select {
  height: 50px;
  width: 230px;
  font-size: 17px;
  text-align: left;
  border-radius: 10px;
}

/* product box css */

.mainDiv {
  width: 100%;
  height: fit-content;
  display: flex;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
}

.imgDiv {
  width: 20%;
}

.rating {
  font-weight: bolder;
  font-size: 22px;
}

.secDiv {
  width: 79%;
  display: flex;
}

.city {
  color: rgb(148, 144, 144);
  font-size: 14px;
  margin-bottom: 10px;
}

.green {
  color: green;
  margin: 10px 0px;
}

.secDiv > div:nth-child(1) {
  width: 70%;
  margin-left: 15px;
}
.secDiv > div:nth-child(2) {
  width: 30%;
  text-align: right;
}

.secDiv > div:nth-child(2) h2 {
  margin: 19px 0px 0px;
}

.secDiv button {
  margin: 10px 0px 20px 0px;
  width: 150px;
  height: 35px;
  background-color: #2a6ec1;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bolder;
}

.greenBg {
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #1f7d57;
  border-radius: 15px;
  width: 130px;
  justify-content: right;
  float: right;
  text-align: center;
}
